{# templates/calculation_tool/form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}CalculationTool{% endblock %}

{% block body %}
    <style>
        .calculationtool-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .calculationtool-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        #calculation_tool_vehiclePrice,
        #calculation_tool_vehicleType,
        #calculation_tool_feeBasic,
        #calculation_tool_feeSpecial,
        #calculation_tool_feeAssociation,
        #calculation_tool_feeStorage
        {
            margin: 10px auto 10px 0;
        }

        #calculation_tool_total
        {
            margin: 10px auto 10px 2px;
        }

        #calculation_tool .form-label {
            border-color: brown;
            width:200px;
        }

        fieldset {
            width:60%;
        }

        input {
            width: 90%
        }

        button[type="submit"] {
            display: block;
            width: 60%;
            margin: 0 auto;
        }
    </style>

    <div class="calculationtool-wrapper">
        <fieldset>
            <legend>Calculation form</legend>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </fieldset>
    </div>
{% endblock %}
